/* CUStOME STYLES */


.screen3 {
    position: relative;
    background: rgba(0,0,0,.5) url(../../images/bg3.jpg) no-repeat center center;
    background-size: cover;
}

/* .screen1:after {
    content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:9;
    background:rgba(0,0,0,.9);
} */

.screen1 {
}

.surveyPreferencesQs .surveyPreferencesQs__indi > h2 {
    margin-top: 0;
}

.surveyPreferencesQs {
    box-shadow: 0 0 25px rgba(0,0,0,.5);   
    background: #fff;
    padding: 2rem;    
}

.screen1 > h2 > a {
    padding: 1rem 3rem;
    display: block;    
    color: #222;
}

.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li > label
.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li > input {
    display:inline-block;
    vertical-align: middle;    
}

.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li > input {
    margin-right: 1rem;
}

.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #eee;
}

.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li:last-child {
    padding-bottom: 0;
    border-bottom: none;    
}

input[type="text"] {
    outline:none;
    height: 28px;
    border: none;
    padding-left: 0.5rem;
    /* width: 100%; */
    border-bottom: 1px solid #ccc;
}

.formControl > span:nth-of-type(2) {
    font-family: 'Fira Sans', sans-serif;
}

.formControl {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.formControl > span:nth-of-type(1) {
    margin-right: 0.65rem;
}

.formControl > span:nth-of-type(1),
.formControl > span:nth-of-type(1) > span {
    width: auto;
    height: auto;
}

input[type="text"]:focus {
    border-bottom-color: lightblue;
}

.surveyPreferencesQs .surveyPreferencesQs__indi > ul > li > input[type="text"] {
    margin-left: 1rem;
}

.surveyPreferencesQs > .btn {
    margin-top: 1.5rem;
}

.btn {
    display: inline-block;
    outline: none;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    font-size: 0.94rem;
    cursor: pointer;
    transition: all 0.25s; 
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn--fullwidth {
    width: 100%;
}

.btn:hover {
    background: #ccc;
}

.customer__interest__details__table {
    max-width: 650px;
}

.customer__interest__details__table > thead > tr > td ,
.customer__interest__details__table > tbody > tr > td {
    width: 33.33333%;
}

.btn__prev {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn__prev:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.screen3 {
    background: rgba(0,0,0,.5) url(../../images/bg3.jpg) no-repeat center center; 
    background-size: cover;       
}

/* .initial__survey__details__table  */
